@import 'variable.scss';

.slide {
    background-color: #e5e5e5;
    .swiper-container {
        img {
            width: 100%;
        }
        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background-color: #fff;
            opacity: 1;
            &.swiper-pagination-bullet-active {
                background-color: $mainColor;
            }
        }
    }
}

.product {
    background-color: #e5e5e5;
    padding-bottom: 95px;
    overflow: hidden;
    .title {
        margin: 60px 0;
        h2 {
            font-size: 46px;
            color: $mainColor;
            margin-top: 0;
        }
        .subtitle {
            font-size: 16px;
        }
    }
    .product-list {
        .product-name {
            display: inline-block;
            font-size: 25px;
            padding: 0 14px 10px;
            border-bottom: 7px solid #000;
            margin-bottom: 0;
        }
        .product-list-item {
            > div {
                border: 4px solid #fff;
                padding: 40px;
                min-height: 562px;
            }
            &:nth-child(1) {
                img {
                    cursor: pointer;
                    margin: 9px 0;
                }
                a {
                    display: inline-block;
                    width: 100%;
                    height: 60px;
                    line-height: 60px;
                    background-color: $mainColor;
                    font-size: 20px;
                    color: #fff;
                    font-weight: bold;
                }
            }
            &:nth-child(2) {
                > div {
                    padding-bottom: 17px;
                }
                ul {
                    margin-top: 20px;
                    margin-bottom: 0;
                    li {
                        margin-bottom: 10px;
                        img {
                            width: 56.4%;
                            height: 100%;
                        }
                        a {
                            background-color: $mainColor;
                            font-size: 18px;
                            color: #fff;
                            display: flex;
                            align-items: center;
                            .iconfont {
                                margin-left: 28px;
                            }
                            .text {
                                display: inline-block;
                                width: 172px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}

.newsAndAbout {
    .news {
        box-shadow: $mainShadow;
        padding: 36px;
        margin: 64px 0;
        .title {
            h3 {
                font-size: 25px;
                margin: 0;
            }
        }
        [class^='link'] {
            display: inline-block;
            width: 80px;
            line-height: 40px;
            text-align: center;
            background-color: $mainColor;
            color: #fff;
            font-size: 16px;
        }
        ul {
            margin-top: 15px;
            margin-bottom: 0;
            li {
                line-height: 40px;
                font-size: 16px;
                .time {
                    margin-right: 10px;
                }
                a {
                    color: #000;
                    &:hover {
                        color: $mainColor;
                        text-decoration: underline;
                    }
                }
            }
        }
        .link-mobile {
            display: none;
        }
    }
    .about {
        overflow: hidden;
        .title {
            display: inline-block;
            padding-top: 30px;
            h3 {
                font-size: 38px;
                color: $mainColor;
                margin: 0;
            }
            .border {
                width: 170px;
                height: 6px;
                margin: 6px 0;
                background-color: #000;
            }
            .subtitle {
                font-size: 25px;
                margin-bottom: 0;
            }
        }
        img {
            float: right;
        }
        .details {
            font-size: 16px;
            margin: 30px 0;
            color: #050505;
            line-height: 30px;
        }
        a {
            display: inline-block;
            width: 242px;
            line-height: 50px;
            background-color: $mainColor;
            text-align: center;
            color: #fff;
            font-size: 16px;
            margin-bottom: 20px;
            margin-right: 20px;
        }
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    .product .product-list .product-list-item:nth-child(2) ul {
        margin-top: 57px;
    }
}

@media (max-width: 991px) {
    .product {
        padding-bottom: 4vw;
        .container {
            padding: 0 4vw;
        }
        .title {
            margin: 8vw 0;
            h2 {
                font-size: 6vw;
            }
            .subtitle {
                font-size: 3vw;
            }
        }
        .product-list {
            .product-name {
                font-size: 5vw;
                border-bottom-width: 1.2vw;
                padding: 0 3vw 3vw;
            }
            .product-list-item {
                > div {
                    width: 100%;
                    min-height: auto;
                    padding: 4vw;
                    margin-bottom: 4vw;
                }
                &:nth-child(1) {
                    img {
                        margin: 2vw;
                    }
                    a {
                        font-size: 4vw;
                        height: 11vw;
                        line-height: 11vw;
                        .iconfont {
                            font-size: 4vw;
                        }
                    }
                }
                &:nth-child(2) {
                    ul {
                        li {
                            a {
                                .iconfont {
                                    margin-left: 3vw;
                                    font-size: 3.5vw;
                                }
                                .text {
                                    font-size: 3.5vw;
                                    width: 30vw;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .newsAndAbout {
        padding-bottom: 8vw;
        .news {
            margin: 5.3vw 0;
            padding: 8vw;
            .title {
                text-align: center;
                h3 {
                    font-size: 5.3vw;
                }
                a {
                    display: none;
                }
            }
            ul {
                li {
                    font-size: 3vw;
                    line-height: 6vw;
                    display: flex;
                    margin-bottom: 3vw;
                    .time {
                        white-space: nowrap;
                    }
                }
            }
            .link-mobile {
                display: block;
                margin: 5vw auto 0;
                width: 20vw;
                line-height: 10vw;
                font-size: 4vw;
            }
        }
        .about {
            padding: 0 4vw;
            .title {
                display: block;
                text-align: center;
                h3 {
                    font-size: 6.6vw;
                }
                .border {
                    margin: 6px auto;
                }
                .subtitle {
                    font-size: 4vw;
                }
            }
            img {
                float: inherit;
                margin: 4vw auto 0;
                display: block;
            }
            .details {
                font-size: 3vw;
                line-height: 6vw;
                margin: 2vw 0 6vw;
            }
            a {
                display: block;
                margin: 0 auto;
                width: 51vw;
                line-height: 11vw;
                font-size: 3.5vw;
                margin-bottom: 3vw;
            }
        }
    }
}
