@import './products.scss';

.search-area {
    text-align: center;
    border-bottom: 3px solid $mainColor;
    padding: 25px 0 35px;
    .form-inline {
        .form-control,
        .btn {
            font-size: 16px;
            border-radius: 0;
            height: 48px;
        }
        select {
            width: 242px;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            background: url(../images/arrow.png) no-repeat;
            background-position: 98% center;
            background-size: 20px;
            &::-ms-expand {
                display: none;
            }
        }
        input[type='text'] {
            width: 355px;
        }
        input[type='submit'] {
            width: 80px;
            color: #fff;
            border: none;
            background-color: $mainColor;
        }
    }
}

.search-result-title {
    font-size: 16px;
    margin: 30px 0 0;
    text-align: center;
    span {
        color: $mainColor;
    }
}

.industry {
    margin-top: 30px;
    .table {
        thead {
            th {
                text-align: center;
                background-color: #ccc;
                font-weight: bold;
                font-size: 14.5px;
                border-top: 1px solid #9a9a9a !important;
            }
        }
        th,
        td {
            padding: 15px 20px;
            line-height: initial;
            vertical-align: middle;
            border: 1px solid #9a9a9a;
            .iconfont {
                color: $mainColor;
                font-size: 30px;
            }
        }
        th {
            &:nth-child(3n+1) {
                width: 8%;
            }
            &:nth-child(2) {
                width: 16%;
            }
            &:nth-child(3) {
                width: 22%;
            }
            &:nth-child(5) {
                width: 10%;
            }
        }
    }
}

@media (max-width: 991px) {
    .search-area {
        padding: 3vw 0 5vw;
        .form-inline {
            .form-control,
            .btn {
                height: 8vw;
                font-size: 3.4vw;
                display: inline-block;
            }
            select {
                width: 30vw;
            }
            input[type='text'] {
                width: 40vw;
            }
            input[type='submit'] {
                width: 20vw;
                vertical-align: bottom;
            }
        }
    }
    .search-result-title {
        font-size: 3.4vw;
        margin-top: 3vw;
    }
    .industry {
        margin-top: 4vw;
        .table {
            width: 300vw;
            thead {
                th {
                    font-size: 3.4vw;
                }
            }
            th,
            td {
                padding: 3vw;
                font-size: 3vw;
                .iconfont {
                    font-size: 6vw;
                }
            }
        }
    }
}
