@import './variable.scss';

.products-list {
    box-shadow: $mainShadow;
    padding: 25px 45px;
    .title {
        border-bottom: 3px solid $mainColor;
        h4 {
            display: inline-block;
            height: 57px;
            line-height: 57px;
            margin: 0;
            text-align: center;
            font-size: 25px;
            padding: 0 30px;
            a {
                color: #000;
                display: inline-block;
                width: 100%;
                height: 100%;
            }
            &.active {
                background-color: $mainColor;
                a {
                    color: #fff;
                }
            }
        }
    }
    .quick-select {
        line-height: 60px;
        border-bottom: 1px solid #cdcdcd;
        font-size: 18px;
        label {
            font-weight: normal;
            margin-right: 20px;
        }
    }
    .items {
        table {
            tr {
                border-bottom: 1px solid #c2c2c2;
                padding: 60px;
                width: 100%;
                display: flex;
                align-items: center;
                th,
                td {
                    border: none;
                }
                th {
                    img {
                        margin-right: 60px;
                    }
                }
                td {
                    .name {
                        font-weight: bold;
                        font-size: 18px;
                    }
                    .type {
                        margin: 10px 0 0;
                        div {
                            display: inline-block;
                            margin-bottom: 10px;
                            span {
                                padding: 5px 8px;
                                border: 1px solid #c0c0c0;
                                display: inline-block;
                                &.type-name {
                                    background-color: #000;
                                    color: #fff;
                                    border-right: none;
                                }
                            }
                        }
                    }
                    ul {
                        padding-left: 15px;
                        li {
                            list-style: initial;
                            line-height: 25px;
                        }
                    }
                    a {
                        color: $mainColor;
                        text-decoration: underline;
                    }
                }
            }
        }
        .pageDiv {
            text-align: center;
            nav {
                display: inline-block;
            }
            li {
                a {
                    color: $mainColor;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .products-list {
        padding: 3vw;
        .title {
            h4 {
                height: 10vw;
                line-height: 10vw;
                font-size: 5vw;
            }
        }
        .quick-select {
            line-height: 10vw;
            font-size: 3.8vw;
            label {
                margin-right: 1vw;
                margin-bottom: 0;
            }
            input[type=radio] {
                display: inline-block;
                width: 3vw;
                height: 3vw;
            }
        }
        .items {
            table {
                tr {
                    padding: 3vw;
                    flex-direction: column;
                    th {
                        img {
                            margin-right: 0;
                        }
                    }
                    td {
                        font-size: 3.4vw;
                        .name {
                            font-size: 4vw;
                        }
                        .type {
                            margin-bottom: 2vw;
                            div {
                                margin: 1vw 0;
                                span {
                                    padding: 2vw;
                                }
                            }
                        }
                        ul {
                            li {
                                line-height: 5vw;
                            }
                        }
                    }
                }
            }
            nav {
                .pagination {
                    margin: 0;
                    font-size: 3.4vw;
                }
            }
        }
    }
}