@import './variable.scss';

.row {
    .sales-search {
        padding: 60px 45px 30px;
        font-size: 16px;
        .tip {
            text-align: center;
            font-size: 12px;
            margin-top: 10px;
        }
        .select-group {
            display: inline-block;
        }
        .form-control {
            width: 118px;
            height: 32px;
            border-radius: 0;
            padding: 0 15px;
            font-size: 16px;
        }
        .btn {
            width: 80px;
            height: 34px;
            background-color: $mainColor;
            border-radius: 0;
            color: #fff;
            font-size: 16px;
        }
        select {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            background: url(../images/arrow.png) no-repeat;
            background-position: 96% center;
            background-size: 20px;
            &::-ms-expand {
                display: none;
            }
        }
    }
    .sales-result {
        padding: 0 45px;
        h3 {
            text-align: center;
            border-bottom: 3px solid $mainColor;
            padding-bottom: 18px;
            font-size: 25px;
            margin: 0;
            span {
                color: $mainColor;
                &.province {
                    margin-right: 15px;
                }
            }
        }
        ul {
            padding: 70px 0 30px;
            overflow: hidden;
            margin: 0;
            li {
                min-height: 150px;
                padding-bottom: 30px;
                font-size: 13px;
                .company {
                    font-weight: bold;
                    font-size: 15px;
                    span {
                        background-color: $mainColor;
                        color: #fff;
                        font-size: 13px;
                        padding: 2px 5px;
                        margin-left: 6px;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .row {
        .sales-search {
            padding: 5vw 0;
            font-size: 4vw;
            .form-group {
                flex-direction: column;
            }
            .tip {
                font-size: 3vw;
            }
            .select-group {
                display: block;
                margin-top: 2vw;
            }
            .form-control {
                width: 26vw;
                height: 8vw;
                padding: 0 3vw;
                font-size: 3.4vw;
                display: inline-block;
            }
            .btn {
                width: 18vw;
                height: 8.6vw;
                font-size: 3.4vw;
            }
            select {
                background-size: 5vw;
            }
        }
        .sales-result {
            padding: 0 4vw;
            h3 {
                padding-bottom: 4vw;
                font-size: 5vw;
                span {
                    &.province {
                        margin-right: 3vw;
                    }
                }
            }
            ul {
                padding: 10vw 0 5vw;
                li {
                    min-height: 35vw;
                    padding-bottom: 6vw;
                    font-size: 3.4vw;
                    .company {
                        font-size: 4vw;
                        span {
                            font-size: 3.4vw;
                        }
                    }
                }
            }
        }
    }
}