.details {
    > div {
        &:first-child {
            p {
                font-size: 16px;
                margin-top: 20px;
                font-weight: bold;
                &.name {
                    font-size: 26px;
                    margin-top: 0;
                }
            }
        }
        &:nth-child(2) {
            font-size: 16px;
            line-height: 30px;
            p {
                text-indent: 2em;
                margin-bottom: 30px;
            }
        }
    }
}

@media (max-width: 767px) {
    .details {
        img {
            width: 50%;
        }
        > div {
            &:nth-child(2) {
                p {
                    margin-bottom: 20px;
                }
            }
        }
    }
}


@media (max-width: 991px) {
    .details {
        > div {
            &:first-child {
                p {
                    font-size: 3.8vw;
                    &.name {
                        font-size: 4vw;
                    }
                }
            }
            &:nth-child(2) {
                font-size: 3.4vw;
            }
        }
    }
}