@import './variable.scss';

.contact-phone {
    box-shadow: $mainShadow;
    padding: 50px 0;
    font-size: 16px;
    .strong {
        font-weight: bold;
        font-size: 34px;
    }
}

.contact-form {
    h3 {
        font-size: 25px;
        padding: 75px 0 20px;
        border-bottom: 3px solid $mainColor;
        margin-bottom: 20px;
    }
    p {
        font-size: 14px;
        &.red {
            color: $mainColor;
        }
    }
    form {
        width: 525px;
        margin: 0 auto;
        margin-top: 45px;
        .error {
            text-align: center;
            color: $mainColor;
        }
        .form-group {
            border-bottom: 1px solid #e4e4e4;
            padding: 15px 0;
            margin: 0;
            label {
                font-size: 16px;
                font-weight: bold;
                span {
                    color: $mainColor;
                }
                & + div {
                    p {
                        font-size: 16px;
                        margin-bottom: 0;
                        padding-top: 7px;
                    }
                }
                &[for='agree'] {
                    font-size: 14px;
                    font-weight: normal;
                    padding: 0;
                }
            }
            .form-control {
                height: 42px;
                border-radius: 0;
                padding: 0 15px;
            }
            select {
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                background: url(../images/arrow.png) no-repeat;
                background-position: 98% center;
                background-size: 26px;
                &::-ms-expand {
                    display: none;
                }
            }
            textarea.form-control {
                height: auto;
            }
            &:last-child {
                border-bottom: none;
            }
            #consultType {
                .current {
                    line-height: 40px;
                }
                ul {
                    height: auto;
                    width: calc(100% + 2px);
                }
            }
            .checkbox label {
                font-size: 14px;
            }
            button {
                width: 176px;
                height: 52px;
                color: #fff;
                background-color: $mainColor;
                border-radius: 0;
                font-size: 24px;
                padding: 6px 20px;
                .iconfont {
                    float: right;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .contact-phone {
        padding: 5vw 0;
        font-size: 3.4vw;
        .strong {
            font-size: 6vw;
        }
    }

    .contact-form {
        padding: 0 3vw;
        h3 {
            font-size: 5vw;
            padding: 3vw 0;
            margin: 3vw 0;
        }
        p {
            font-size: 3.4vw;
        }
        form {
            width: 100%;
            margin-top: 3vw;
            .form-group {
                padding: 2vw 0;
                label {
                    font-size: 4vw;
                    padding-top: 2vw;
                    &[for='agree'] {
                        font-size: 3vw;
                    }
                }
                .form-control {
                    height: 10vw;
                    padding: 0 4vw;
                }
                #consultType {
                    .current {
                        line-height: 10vw;
                    }
                }
                .checkbox label {
                    font-size: 3.4vw;
                }
                button {
                    width: 40vw;
                    height: 12vw;
                    font-size: 6vw;
                }
            }
        }
    }
}
