@import './company.scss';

.company-title-list {
    padding: 0 13.5%;
}

.company-table {
    .more {
        margin-top: 80px;
        p {
            font-size: 16px;
        }
        a {
            display: inline-block;
            width: 280px;
            height: 50px;
            line-height: 50px;
            background-color: $mainColor;
            color: #fff;
            font-size: 23px;
        }
    }
}

@media (max-width: 991px) {
    .company-title-list {
        padding: 0;
    }
    .company-table {
        .more {
            margin-top: 10vw;
            p {
                font-size: 3.4vw;
            }
            a {
                width: 55vw;
                height: 10vw;
                line-height: 10vw;
                font-size: 4.5vw;
            }
        }
    }
}