@import './variable.scss';

.newslist {
    .table {
        tbody {
            tr {
                font-size: 16px;
                td {
                    border: none;
                    padding: 20px;
                    line-height: 30px;
                    a {
                        color: #000;
                    }
                    &:nth-child(1) {
                        width: 15%;
                    }
                }
                &:hover {
                    a {
                        color: $mainColor;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    nav {
        display: inline-block;
        li {
            a {
                color: $mainColor;
            }
        }
    }
}

@media (max-width: 991px) {
    .newslist {
        .table {
            tbody {
                tr {
                    font-size: 3.4vw;
                    td {
                        padding: 3vw;
                        line-height: 4vw;
                    }
                }
            }
        }
    }
    .pagination {
        font-size: 3.4vw;
    }
}